.swiper {
  width: 100%;
  background-color: #faf9f6;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* Slide image */
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Pagination styles */
.swiper-pagination-bullet {
  background-color: red !important;
}

.swiper-pagination-bullet-active {
  background-color: darkred !important;
}

/* Optional parallax background */
.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/* Text styles inside slider */
.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
